.nav-container {
  display: flex;
  margin-bottom: 40px;
}

.nav-container > div {
  padding: 10px;
  height: 50px;
  width: 100px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
}
